<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="head :: header" th:with="title='home'">
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side" th:include="leftmenu :: leftmenu"></div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section" th:include="header-section :: section"></div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <ul class="breadcrumb">
                <li>
                    <a href="/sermo/home">首页</a>
                </li>
                <li class="active"> 系统设置 </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <div class="panel-body">
                            <form role="form" class="form-horizontal" action="setting" method="post">
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label class="col-sm-offset-1 col-sm-2 control-label">营业时间</label>
                                        <div class="col-sm-3 controls">
                                            <select class="form-control" name="bStart">
                                                <option th:each="x:${times}" th:value="${x}" th:text="${x}"></option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3 controls">
                                            <select class="form-control" name="bEnd">
                                                <option th:each="x:${times}" th:value="${x}" th:text="${x}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label class="col-sm-offset-1 col-sm-2 control-label">配送时间</label>
                                        <div class="col-sm-3 controls">
                                            <select class="form-control" name="dStart">
                                                <option th:each="x:${times}" th:value="${x}" th:text="${x}"></option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3 controls">
                                            <select class="form-control" name="dEnd">
                                                <option th:each="x:${times}" th:value="${x}" th:text="${x}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label class="col-sm-offset-1 col-sm-2 control-label">营业状态</label>
                                        <div class="col-sm-4 controls">
                                            <label class="radio-inline">
                                                <input type="radio" id="on" value="1" name="state"/>营业
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" id="off" value="0" name="state"/>歇业
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-2 control-label">用户协议</label>
                                        <div class="col-sm-10 controls">
                                            <textarea rows="20" class="form-control" name="agreement"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <div class="col-sm-offset-2 col-sm-2 control-label">
                                            <button type="submit" class="btn btn-default btn-lg btn-block">保存</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer class="sticky-footer" th:include="footer :: copy">
          
        </footer>
        <!--footer section end-->

    </div>
    <!-- main content end-->
</section>

</body>
</html>
